{% extends 'base.html' %}
{% load static %}
{% block title %}
Adoption
{% endblock %}

{% block content %}
<form id="adoption-form" method="post">
    <div class="card">
        <div class="card-header">
            Adoption Form
        </div>
        <div class="card-body">
            <div class="form-group">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <label for="{{field.name}}">{{field.label}}</label>
                {{field}}
                {% endfor %}
                <br>
                <input type="hidden" name="mascota_id" value="{{ mascota_id }}">
                <button id="adoption-button" class="btn btn-primary" type="submit"><i class="bi bi-check2"></i>
                    Adoptar</button>
                <a id="cancel-button" class="btn btn-secondary" href="{% url 'mascotas' %}"><i class="bi bi-x-lg"></i>
                    <span class="d-none d-md-inline">Cancelar</span></a>
                <button id="delete-form" class="btn btn-outline-danger" type="button"><i class="bi bi-trash3"></i>
                    <span class="d-none d-md-inline">Limpiar campos</span></button>
            </div>
        </div>
    </div>
</form>
{% block scripts %}
<!--Sweet alert-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="">
    {% if form.errors %}
        var errores = "";
        {% for field in form %}
            {% for error in field.errors%}
                errores +=`{{error}}\n`
                var error_field = document.getElementById(`id_{{field.name}}`);
                error_field.value = "";
            {% endfor %}
        {% endfor %}
        Swal.fire({
        icon: "error",
        title: "Error!!",
        text: errores
    });
    {% endif %}
    
</script>

<script src="{% static 'js/deleteForm.js' %}"></script>

{% endblock %}

{% endblock %}