{% extends 'base.html' %}

{% block title %}
Editar Mascota
{% endblock %}


{% block content %}
    <form id="register-form" method="post">
        <div class="card">
            <div class="card-header">
              Eliminar
            </div>
            <div class="card-body">
                <div class="form-group">
                    {% csrf_token %}
                        <h3>Seguro que desea eliminar {{eliminar}}?</h3>
                        <h4 class="text-danger">Esta accion no puede deshacerse</h4>
                        <br>
                        <button id="update-button" class="btn btn-outline-danger" type="submit"><i class="bi bi-trash3"></i> Eliminar</button>
                        <button id="cancel-button" class="btn btn-secondary" type="button" onclick="history.go(-1)"><i class="bi bi-x-lg"></i> Cancelar</button>
                </div>
            </div>
          </div>
    </form>

{% endblock %}