{% extends 'base.html' %}

{% block title %}Editar Mascota{% endblock %}


{% block content %}
    <form id="register-form" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
              Editar Mascota
            </div>
            <div class="card-body">
                <div class="form-group">
                    {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <label for="{{field.name}}">{{field.label}}</label>
                        {{field}}
                        <br>
                        {% endfor %}
                        <br>
                        <button id="update-button" class="btn btn-primary" type="submit"><i class="bi bi-check2"></i> Guardar</button>
                        <a id="cancel-button" class="btn btn-secondary" href="{% url 'mascotas' %}"><i class="bi bi-x-lg"></i> Cancelar</a>
                </div>
            </div>
          </div>
    </form>
    {% block scripts %}
<!--Sweet alert-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="">
    {% if form.errors %}
        var errores = "";
        {% for field in form %}
            {% for error in field.errors%}
                errores +=`{{error}}\n`;
                {% if field.name == 'esteril' %}
                var error_field = document.getElementById(`id_{{field.name}}`);
                error_field.checked=true
                {% endif %}
            {% endfor %}
        {% endfor %}
        Swal.fire({
            icon: "error",
            title: "Error!!",
            text: errores
        });
    {% endif %}    
</script>

{% endblock %}

{% endblock %}