{% extends 'base.html' %}

{% block title %}Ayuda{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="accordion" id="faq">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                ¿Cuál es el proceso para adoptar una mascota a través de la página web?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#faq">
            <div class="accordion-body">
                <strong>Para adoptar una mascota a través de nuestra página web</strong>, puedes explorar las mascotas disponibles, leer sus perfiles y completar el formulario de adopción para la mascota que te interese. El equipo revisará tu solicitud y se pondrá en contacto contigo para coordinar una visita y finalizar el proceso de adopción. (Esto es una pagina de ejemplo...no coloques tus datos reales) 
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ¿Cuáles son los requisitos para adoptar una mascota?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#faq">
            <div class="accordion-body">
                <strong>Los requisitos para adoptar </strong> varían según la mascota y pueden incluir una entrevista, un cuestionario de adopción, referencias y, en algunos casos, una visita al hogar. Nuestro objetivo es garantizar que cada mascota sea adoptada por una familia o persona que pueda brindarle el cuidado y el amor que merece.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Puedo registrar a una mascota para dar en adopción a través de la página web?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#faq">
            <div class="accordion-body">
                Sí, nuestra página web te permite registrar mascotas que necesiten ser adoptadas. Simplemente completa el formulario de registro y proporciona la información detallada y una fotografía de la mascota. Una vez que la información sea completada, la mascota estará disponible para adopción a través de nuestra plataforma.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ¿Cómo se gestionan las mascotas disponibles en la página web?
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#faq">
            <div class="accordion-body">
                Nuestro equipo (si existiera) se encarga de administrar las mascotas disponibles en la página web. Realizamos un seguimiento constante de las adopciones, actualizamos los perfiles de las mascotas y nos aseguramos de que reciban la atención y el cuidado necesario mientras esperan ser adoptadas.
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}