{% extends 'base.html' %}

{% block title %}Informacion{% endblock %}

{% block content %}

  <div class="container-fluid">          
    <div class="card mb-4 mx-5" >
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/files/{{mascota.imagen}}" class=" rounded-start" style="height: 100%; max-width: 100%;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="">{{mascota.name}}</h3>

              <p class="card-text">Edad: {{mascota.age}} años</p>

              <p class="card-text">{% if mascota.description %}Descripcion: {{mascota.description}}{% else %}No hay descripcion disponible{% endif %}</p>

              <p class="card-text">{% if mascota.esteril %}Esteril{% else %}No es esteril{% endif %}</p>

              <ul class="card-text list-unstyled">{% if not vacunas %}
                <li>Sin vacunar</li>
                {% else %}
                Vacunas: 
                {% for vacuna in vacunas%}
                <li>- {{vacuna}}</li>
                {% endfor %}
                {% endif %}</ul>

              <p class="card-text"><small class="text-body-secondary">Llegada: {{mascota.entry_date}}</small></p>

              <a href="{% url 'adoption' %}?mascota_id={{ mascota.id }}" class="btn btn-primary"><i class="bi bi-check-lg d-md-none"></i><small class="d-md-inline d-none"> Adoptar</small></a>
              <a href="{% url 'mascotas' %}" class="btn btn-secondary"><i class="bi bi-check-lg d-md-none"></i><small class="d-md-inline d-none"> Ver Todas</small></a>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}