{% extends 'base.html' %}
{% load static %}

{% block title %}Mascotas{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-12">
            <div class="table-responsive">
                <div class="card">
                    <div class="card-header">
                        Mascotas en Adopcion
                    </div>
                    <div class="card-body">
                        <table class="table" id="mascotas">
                            <thead>
                                <tr>
                                    <th class="justify-content-center" scope="col">Mascota</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mascota in mascotas_list %}
                                <tr class="justify-content-center">
                                    <td>
                                        <div class="container-fluid">
                                            <div class="card mb-4 ">
                                                <div class="row ">
                                                    <div class="col-md-4">
                                                        <img src="/files/{{mascota.imagen}}" class=" rounded-start"
                                                            style="height: 15rem; width: 100%;">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="card-body">
                                                            <h3 class="">{{mascota.name}}</h3>

                                                            <p class="card-text"><b>Edad: </b>{{mascota.age}}</p>


                                                            <p class="card-text"><small
                                                                    class="text-body-secondary">Llegada:
                                                                    {{mascota.entry_date}}</small></p>


                                                            <div class="pt-4">
                                                            <a href="{% url 'adoption' %}?mascota_id={{ mascota.id }}"
                                                                class="btn btn-primary"><i
                                                                    class="bi bi-check-lg d-md-none"></i><small
                                                                    class="d-md-inline d-none"> Adoptar</small></a>
                                                            <a href="{% url 'infomascota' mascota.id %}"
                                                                class="btn btn-secondary"><i
                                                                    class="bi bi-plus-lg d-md-none"></i><small
                                                                    class="d-md-inline d-none"> Ver Mas</small></a>
                                                            <a href="{% url 'editarmascota' mascota.id%}"
                                                                class="btn btn-info"><i class="bi bi-pencil"></i></a>
                                                            <a href="{% url 'eliminarmascota' mascota.id%}"
                                                                class="btn btn-outline-danger"><i
                                                                    class="bi bi-trash3"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                    </div>
                    <div class="card-footer">
                        <a href="{% url 'registrarmascota' %}" class="btn btn-primary"><i
                                class="bi bi-pencil-square"></i> <span class="d-none d-md-inline">Registrar</span> Mascota</a>
                        <a href="{% url 'registrarvacuna' %}" class="btn btn-primary"><i
                                class="bi bi-pencil-square"></i> <span class="d-none d-md-inline">Registrar</span> Vacuna</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block script %}
    <!--DataTable Script-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="{% static 'js/mascotas.js' %}"></script>
{% endblock %}

{% endblock %}