{% extends 'base.html' %}

{% block title %}
Registrar Vacuna
{% endblock %}


{% block content %}
    <form method="post">
        <div class="card">
            <div class="card-header">
              Registrar Vacuna
            </div>
            <div class="card-body">
                <div class="form-group">
                    {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <label for="{{field.name}}">{{field.label}}</label>
                        {{field}}
                        {% endfor %}
                        <br>
                        <button class="btn btn-primary" type="submit"><i class="bi bi-check2"></i> Registrar</button>
                        <a href="{% url 'vacunas' %}"><button class="btn btn-secondary" type="button"><i class="bi bi-check2"></i> Ver Todas</button></a>
                </div>
            </div>
          </div>
    </form>
{% block scripts %}
<!--Sweet alert-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="">
    {% if form.errors %}
        var errores = "";
        {% for field in form %}
            {% for error in field.errors%}
                errores +=`{{error}}\n`;
                var error_field = document.getElementById(`id_{{field.name}}`);
                error_field.value = ""
            {% endfor %}
        {% endfor %}
        Swal.fire({
            icon: "error",
            title: "Error!!",
            text: errores
        });
    {% endif %}    
</script>
{% endblock %}
{% endblock %}