{% extends 'header.html' %}
{% block base %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="margin-top: 75px;">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Images</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right" style="font-size: 15px;font-weight: 600;">
                                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        
{% endblock %}
    
    