{% load static %}

<nav class="main-header navbar navbar-expand-md p-2 fixed-top" data-bs-theme="dark" style="background-color: #6F2DF3;">
  <div class="container-fluid">
    <a href="#" class="navbar-brand text-white hover:text-light">
      <h2><img src="{% static 'img/petition.png' %}" alt="." class="brand-image"
          style="opacity: .8"><b>PET</b>ition<span>.</span></h2>
    </a>

    <!--Boton Offcanvas-->
    <button class="btn btn-primary navbar-toggler" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
      <i class="bi bi-list"></i>
    </button>

    <!--Offcanvas-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" style="background-color:#6F2DF3"
      aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title text-light" id="offcanvasRightLabel">PETition Menu</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-md-none d-lg-none d-inline-block">
        <ul class="navbar-nav">
          <li class="nav-item col-12 px-2">
            <a class="nav-link" id="sl-offcanvas" href="#">Inicio</a>
          </li>
          <li class="nav-item col-12 px-2">
            <a class="nav-link" id="sl-offcanvas" href="#">Mascotas</a>
          </li>
          <li class="nav-item col-12 px-2">
            <a class="nav-link" id="sl-offcanvas" href="#">Registrar Mascota</a>
          </li>
          <li class="nav-item col-12 px-2">
            <a class="nav-link" id="sl-offcanvas" href="#">Ayuda</a>
          </li>
          <li class="nav-item col-12 px-2">
            <a class="nav-link" id="sl-offcanvas" href="#">Donacion</a>
          </li>
        </ul>
        <hr class="text-white-50">
        <!--Contact Us-->
        <h5 class="text-light">Contactanos:</h5>
        <ul class="navbar-nav text-light">
          <li><a href="#" class="nav-link" id="sl-offcanvas">
              <i class="bi bi-instagram"></i>
              <small class="ms-2">Instagram</small>
            </a>
          </li>
          <li><a href="#" class="nav-link" id="sl-offcanvas">
              <i class="bi bi-twitter"></i>
              <small class="ms-2">Twitter</small>
            </a>
          </li>
          <li><a href="#" class="nav-link" id="sl-offcanvas">
              <i class="bi bi-envelope"></i>
              <small class="ms-2">Email</small>
            </a>
          </li>
        </ul>
        <hr class="text-white-50">
      </div>
    </div>

    <div class="collapse navbar-collapse me-4" id="navbarCollapse">
      <!-- Left navbar links -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item nav-link">
          <a href="#" id="subline">Inicio</a>
        </li>
        <li class="nav-item nav-link">
          <a href="#" id="subline">Ayuda</a>
        </li>
        <li class="nav-item nav-link dropdown ">
          <a id="subline" href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            class="dropdown-toggle">Opciones</a>
          <ul class="dropdown-menu dropdown-menu-end border-0 shadow" style="background-color: #3f3fdf;">
            <li><a href="#" class="dropdown-item">Mascotas </a></li>
            <li><a href="#" class="dropdown-item">Registrar Mascota</a></li>
            <li><a href="#" class="dropdown-item">Donacion</a></li>

            <li class="dropdown-divider"></li>

            <li><a href="#" class="dropdown-item"><i class="bi bi-instagram"></i><small
                  class="ms-2">Instagram</small></a></li>
            <li><a href="#" class="dropdown-item"><i class="bi bi-twitter"></i><small class="ms-2">Twitter</small></a>
            </li>
            <li><a href="#" class="dropdown-item"><i class="bi bi-envelope"></i><small class="ms-2">Email</small></a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>